*,
::before,
::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo,
    monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

summary {
  display: list-item;
}

/* KONIEC NORMALIZATORA */

:root {
  --alternative-color: #757575;
  --highlight-color: #2196f3;
  --backgroundmain-color: #2f303a;
  --backgroundalt-color: #f5f4fa;
  --dark-color: #000000;
  --light-color: #ffffff;
  --lightalpha-color: #ffffff60;
  --borderline-color: #eeeeee;
  --background-light-color: #f5f4fa;
  --alternative-borderline-color: #afb1b8;
  --icon-on-dark-color: #ffffff1a;
  --overlay-color: #2f303acc;
}

body {
  cursor: default;
  font-family: "Roboto", sans-serif;
  color: #212121;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
p,
ul {
  margin: 0 auto;
  padding: 0;
}
.button {
  cursor: pointer;
  font-family: inherit;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
}

.link {
  text-decoration: none;
  color: inherit;
  fill: var(--alternative-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover,
.link:focus {
  color: var(--highlight-color);
  fill: var(--highlight-color);
}

.blue {
  color: var(--highlight-color);
}
.white {
  color: var(--light-color);
}

.black {
  color: var(--dark-color);
}
.list {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}
.header-wrapper {
  border-bottom: 1px solid #ececec;
  padding: 25px 0;
}
.header {
  justify-content: space-between;
}
.navigation {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  color: inherit;
  flex-grow: 1;
  margin-left: 93px;
}
.navigation ul.list {
  gap: 0;
}
.navigation li {
  margin: 0 23px;
}
.navigation li:first-child {
  margin-left: 0;
}
.navigation li:last-child {
  margin-right: 0;
}
.address-header {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  color: var(--alternative-color);
}

.dark-background {
  background-color: var(--backgroundmain-color);
  display: block;
}

.address-footer {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--light-color);
}
.address-footer .link {
  color: var(--lightalpha-color);
}
.address-footer .link:focus,
.address-footer .link:hover {
  color: var(--highlight-color);
}

.address-footer ul {
  flex-direction: column;
  gap: 0;
}
.address-footer li:last-child {
  margin-bottom: 0;
}
.af-element {
  margin: 4.5px 0;
}
address.address-footer p {
  margin-top: 0;
}

.footer .logo {
  margin-bottom: 20px;
}

.index-h1 {
  color: var(--light-color);
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
}
.button-order {
  background-color: var(--highlight-color);
  color: var(--light-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  box-shadow: 0px 4px 4px 0px #00000026;
  border-style: hidden;
  border-radius: 4px;
  margin-top: 30px;
  width: 200px;
  height: 50px;
}

.hidden {
  display: none;
}
.strenghts-header {
  font-size: 14px;
  line-height: 1.17;
}
.strenghts-p {
  color: var(--alternative-color);
  font-size: 14px;
  line-height: 1.71;
  margin-top: 10px;
}
.index-header2 {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.team-div {
  background-color: var(--backgroundalt-color);
  padding: 94px 0;
}
.member {
  background-color: var(--light-color);
  width: 270px;
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
.member-pos {
  color: var(--alternative-color);
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
}

.button-category {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  background-color: var(--backgroundalt-color);
  border-style: hidden;
  border-radius: 4px;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-category:focus,
.button-category:hover {
  background-color: var(--highlight-color);
  color: var(--light-color);
  box-shadow: 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014,
    0px 3px 1px 0px #0000001a;
}
.category-buttons {
  gap: 8px;
  padding-bottom: 16px;
  margin-bottom: 34px;
}

.project {
  font-size: 18px;
  line-height: 2;
  margin-inline: 24px;
  margin-top: 20px;
  margin-bottom: 4px;
}
.project-category {
  color: var(--alternative-color);
  font-size: 16px;
  line-height: 1.875;
  margin-inline: 24px;
  margin-bottom: 20px;
}
.project-item {
  border: 1px solid var(--borderline-color);
  width: 372px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-item:hover,
.project-item:focus {
  cursor: pointer;
  box-shadow: 1px 4px 6px 0px #00000029, 4px 4px 0px #0000000f,
    0px 1px 1px 0px #0000001f;
}
.container {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline {
  padding: 200px 0;
  background-image: linear-gradient(#2f303a66, #2f303a66),
    url(../images/headline-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.section {
  padding: 94px 0;
}

.footer {
  align-items: flex-start;
}
.card-set {
  flex-wrap: wrap;
}
.portfolio-main {
  margin-top: 97px;
  margin-bottom: 91px;
}

.strenghts-svg {
  background-color: var(--background-light-color);
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  padding: 25px 100px;
}
.social-svg {
  height: 44px;
  width: 44px;
  fill: var(--alternative-borderline-color);
  padding: 12px;
  border-radius: 50%;
  overflow: visible;
  transition: fill 500ms cubic-bezier(1, 0, 0, 1),
    background-color 500ms cubic-bezier(1, 0, 0, 1);
}

.social-svg:hover,
.social-svg:focus {
  fill: var(--light-color);
  background-color: Var(--highlight-color);
  cursor: pointer;
}
.social-media {
  display: flex;
  margin: 16px 32px 18px;
}
.social {
  gap: 10px;
  justify-content: space-around;
}

.client-svg {
  border: 1px solid var(--alternative-borderline-color);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  padding: 18px 32px 14px;
  fill: var(--alternative-borderline-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-svg:hover,
.client-svg:focus {
  cursor: pointer;
  border: 1px solid var(--highlight-color);
  fill: var(--highlight-color);
}

.clients {
  margin: 0 auto;
}
.address-header-mail,
.address-header-tel {
  margin-right: 10px;
}

.address-header-mail {
  height: 12px;
  width: 16px;
}
.address-header-tel {
  height: 16px;
  width: 10px;
}
.telephone a,
.mail a {
  display: flex;
  align-items: center;
}
.telephone:hover,
.mail:hover {
  --color2: var(--highlight-color);
}
.join-us h3 {
  margin: 12px 0 20px 0;
  font-size: 14px;
  line-height: 1.17;
  color: var(--light-color);
}
.join-us {
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 70px;
}
.join-us .social-media {
  margin: 0;
}
.social-svg-footer {
  background-color: var(--icon-on-dark-color);
  height: 44px;
  width: 44px;
  fill: var(--light-color);
  padding: 12px;
  border-radius: 50%;
  overflow: visible;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-svg-footer:hover,
.social-svg-footer:focus {
  background-color: Var(--highlight-color);
  cursor: pointer;
}
.footer-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 60px 0;
}

.relative {
  position: relative;
}
.overlay-atuts {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 70px;
  background-color: var(--overlay-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay-atuts h3 {
  color: var(--light-color);
  font-size: 14px;
  line-height: 1.17;
}
.atut {
  height: 294px;
}

.nav-active::after {
  content: "";
  position: absolute;
  left: -5%;
  bottom: -33px;
  width: 110%;
  height: 4px;
  background-color: var(--highlight-color);
  border-radius: 2px;
}
