*,
::before,
::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo,
    monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
select {
  text-transform: none;
  cursor: pointer;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px; /* 2 */
}

::-webkit-file-upload-button {
  font: inherit; /* 2 */
}

summary {
  display: list-item;
}

/* KONIEC NORMALIZATORA */

:root {
  --main-text-color: #212121;
  --alternative-color: #757575;
  --highlight-color: #2196f3;
  --backgroundmain-color: #2f303a;
  --backgroundalt-color: #f5f4fa;
  --dark-color: #000000;
  --light-color: #ffffff;
  --lightalpha-color: #ffffff60;
  --borderline-color: #eeeeee;
  --background-light-color: #f5f4fa;
  --alternative-borderline-color: #afb1b8;
  --icon-on-dark-color: #ffffff1a;
  --overlay-color: #2f303acc;
  --overlay-highlight: #2196f3e5;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  cursor: default;
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
p {
  margin: 0 auto;
  padding: 0;
}
ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0 auto;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
  fill: var(--alternative-color);
  transition: color var(--transition-duration) var(--transition-timing-function),
    fill var(--transition-duration) var(--transition-timing-function);
}
a:hover,
a:focus {
  color: var(--highlight-color);
  fill: var(--highlight-color);
}
.container {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section {
  padding: 94px 0;
}
.hidden {
  display: none;
}
.header-2 {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00000033;
  transition: opacity var(--transition-duration)
      var(--transition-timing-function),
    visibility var(--transition-duration) var(--transition-timing-function),
    pointer-events var(--transition-duration) var(--transition-timing-function);
}
/* --------------------------------------------------------------------HEADER-------------------------------------------------------------------- */
.header-wrapper {
  border-bottom: 1px solid #ececec;
  padding: 25px 0;
  justify-content: space-between;
}
/*============LOGO============*/
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
}
.logo__primary-color {
  color: var(--highlight-color);
}
.logo__secondary-color--original {
  color: var(--dark-color);
}
.logo__secondary-color--alternative {
  color: var(--light-color);
}
/*============NAV-BAR============*/
.navigation {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  color: inherit;
  flex-grow: 1;
  margin-left: 93px;
}
.navigation_list {
  gap: 0;
}
.navigation__item {
  margin: 0 23px;
}
.navigation__item:first-child {
  margin-left: 0;
}
.navigation__item:last-child {
  margin-right: 0;
}
.navigation__picked {
  position: relative;
  color: var(--highlight-color);
}
.navigation__picked::after {
  content: "";
  position: absolute;
  left: -5%;
  bottom: -200%;
  width: 110%;
  height: 4px;
  background-color: var(--highlight-color);
  border-radius: 2px;
}
/*============CONTACTS============*/
.contacts {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  color: var(--alternative-color);
}
.contacts__list {
  gap: 30px;
}

.contacts__item {
  display: flex;
  align-items: center;
  gap: 10px;
  fill: var(--alternative-color);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.contacts__item:focus,
.contacts__item:hover {
  fill: var(--highlight-color);
}
.mail-icon {
  height: 12px;
  width: 16px;
}
.telephone-icon {
  height: 16px;
  width: 12px;
}

/* --------------------------------------------------------------------INDEX-------------------------------------------------------------------- */
/*============HEADLINE============*/
.headline {
  padding: 200px 0;
  background-image: linear-gradient(#2f303a66, #2f303a66),
    url(../images/headline-background.jpg);
  background-size: 1600px auto;
  background-repeat: no-repeat;
  background-position: center;
}
.headline__title {
  color: var(--light-color);
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  font-family: Roboto;
  letter-spacing: 0.06em;
}
/*============BUTTON ORDER============*/
.primary-button {
  background-color: var(--highlight-color);
  color: var(--light-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  box-shadow: 0px 4px 4px 0px #00000026;
  border-style: hidden;
  border-radius: 4px;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  transition: box-shadow var(--transition-duration)
      var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function);
}

.primary-button:hover,
.primary-button:focus {
  color: var(--dark-color);
  box-shadow: inset 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014,
    0px 3px 1px 0px #0000001a;
}

/*============STRENGHTS============*/
.strenghts__svg {
  background-color: var(--background-light-color);
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  padding: 25px 100px;
}
.strenghts__title {
  font-size: 14px;
  line-height: 1.17;
}
.strenghts__text {
  color: var(--alternative-color);
  font-size: 14px;
  line-height: 1.71;
  margin-top: 10px;
}
/* ---------------------------------------------------------------------------------------------------- */
/*============TRUMPS============*/
.trumps__item {
  height: 294px;
  position: relative;
}
.trumps__overlay {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 70px;
  background-color: var(--overlay-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.trumps__title {
  color: var(--light-color);
  font-size: 14px;
  line-height: 1.17;
}
/* ---------------------------------------------------------------------------------------------------- */
/*============TEAM============*/
.our-team {
  background-color: var(--backgroundalt-color);
  max-width: 1600px;
  padding: 94px 0;
  margin: 0 auto;
}
.our-team__member {
  background-color: var(--light-color);
  width: 270px;
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.our-team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
.our-team__position {
  color: var(--alternative-color);
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
}
/*============SOCIAL-MEDIA============*/
.social-media__list {
  gap: 10px;
  justify-content: space-around;
}
.social-media {
  display: flex;
  margin: 16px 32px 18px;
}
.social-media__icon {
  height: 44px;
  width: 44px;
  fill: var(--alternative-borderline-color);
  padding: 12px;
  border-radius: 50%;
  overflow: visible;
  transition: fill var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function);
}

.social-media__icon:hover,
.social-media__icon:focus {
  fill: var(--light-color);
  background-color: Var(--highlight-color);
  cursor: pointer;
}
/* ---------------------------------------------------------------------------------------------------- */

/*============CLIENTS============*/

.client-icon {
  border: 1px solid var(--alternative-borderline-color);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  padding: 18px 32px 14px;
  fill: var(--alternative-borderline-color);
  transition: border-color var(--transition-duration)
      var(--transition-timing-function),
    fill var(--transition-duration) var(--transition-timing-function);
}
.client-icon:hover,
.client-icon:focus {
  cursor: pointer;
  border: 1px solid var(--highlight-color);
  fill: var(--highlight-color);
}
/* --------------------------------------------------------------------MODAL-------------------------------------------------------------------- */
.modal {
  width: 528px;
  height: 581px;
  background-color: var(--light-color);
  margin: auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;
}
.modal__title {
  font-size: 20px;
  line-height: 1.17;
}
/*============CLOSE-BUTTON============*/
.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 1px solid #0000001a;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  margin: 0;
  transition: box-shadow var(--transition-duration)
      var(--transition-timing-function),
    fill var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function);
}
.close-button:hover,
.close-button:focus {
  box-shadow: inset 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014,
    0px 3px 1px 0px #0000001a;
  background-color: var(--highlight-color);
  fill: var(--light-color);
}
.close-button__icon {
  height: 11px;
  width: 11px;
}
/*============CONTACT-FORM============*/
.contact-form {
  position: relative;
  display: flex;
  flex-direction: column;
}
.contact-form__item {
  display: flex;
  position: relative;
  margin: 28px 0 0;
  border: 1px solid #21212133;
  border-radius: 4px;
  align-items: center;
  padding: 0;
  transition: border-color var(--transition-duration)
      var(--transition-timing-function),
    fill var(--transition-duration) var(--transition-timing-function);
}
.contact-form__item:has(input:focus) {
  border-color: var(--highlight-color);
  fill: var(--highlight-color);
}
.contact-form__item:has(textarea:focus) {
  border-color: var(--highlight-color);
}
.contact-form__icon {
  height: 20px;
  width: 20px;
  margin: 11px 12px;
}
.contact-form__label {
  position: absolute;
  top: -18px;
  left: 0;
  color: var(--alternative-color);
  font-size: 12px;
  line-height: 1.22;
}
.contact-form__input {
  border: 0px;
  border-radius: 10px;
  outline: 0;
  width: 90%;
}
.contact-form__comment {
  resize: none;
  height: 110px;
  width: 446px;
  padding: 12px 16px;
}
.contact-form__comment::placeholder {
  font-size: 12px;
  line-height: 1.22;
  color: #75757580;
}
.contact-form__privacy-policy {
  position: relative;
  display: flex;
  margin-top: 18px;
  align-items: center;
}
.contact-form__rule {
  color: var(--alternative-color);
  margin: 0 0 0 24px;
  font-size: 14px;
  line-height: 1.71;
}
.contact-form__terms {
  color: var(--highlight-color);
  text-decoration: underline;
}
.contact-form .primary-button {
  margin-top: 20px;
  margin-left: 124px;
  padding: 0;
}
/*============CHECKMARK============*/
.checkmark {
  position: absolute;
  width: 16px;
  height: 15px;
  opacity: 0;
}
.checkmark__unchecked {
  cursor: pointer;
  position: absolute;
  left: -4px;
  top: 4px;
  height: 23px;
  width: 23px;
}
.contact-form__privacy-policy:has(input:checked) .checkmark__unchecked {
  display: none;
}
.checkmark__checked {
  cursor: pointer;
  position: absolute;
  top: 3px;
  height: 17px;
  width: 16px;
  display: none;
}
.contact-form__privacy-policy:has(input:checked) .checkmark__checked {
  display: block;
}
/* --------------------------------------------------------------------PORTFOLIO-------------------------------------------------------------------- */
.button-category {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  background-color: var(--backgroundalt-color);
  border-style: hidden;
  border-radius: 4px;
  padding: 6px 22px;
  transition: background-color var(--transition-duration)
      var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function),
    box-shadow var(--transition-duration) var(--transition-timing-function);
}
.button-category:focus,
.button-category:hover {
  background-color: var(--highlight-color);
  color: var(--light-color);
  box-shadow: 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014,
    0px 3px 1px 0px #0000001a;
}
.category-buttons {
  gap: 8px;
  padding-bottom: 16px;
  margin-bottom: 34px;
}

.project {
  position: relative;
  font-size: 18px;
  line-height: 2;
  margin-inline: 24px;
  margin-top: 20px;
  margin-bottom: 4px;
  z-index: 2;
}
.project-category {
  position: relative;
  color: var(--alternative-color);
  font-size: 16px;
  line-height: 1.875;
  margin-inline: 24px;
  margin-bottom: 20px;
  z-index: 2;
}
.project-item {
  position: relative;
  border: 1px solid var(--borderline-color);
  width: 372px;
  transition: box-shadow var(--transition-duration)
    var(--transition-timing-function);
  overflow: hidden;
  background-color: var(--light-color);
}
.project-item:hover,
.project-item:focus {
  cursor: pointer;
  box-shadow: 1px 4px 6px 0px #00000029, 4px 4px 0px #0000000f,
    0px 1px 1px 0px #0000001f;
}
.portfolio-overlay {
  position: absolute;
  width: 100%;
  height: 295px;
  background-color: var(--overlay-highlight);
  padding: 49px 45px 49px 24px;
  transform: translatey(100%);
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}
.project-item:focus .portfolio-overlay,
.project-item:hover .portfolio-overlay {
  transform: translatey(0);
}

.portfolio-overlay p {
  font-size: 18px;
  line-height: 1.55;
  color: var(--light-color);
}
.project-item-description {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 114px;
  background-color: var(--light-color);
  z-index: 1;
}

.card-set {
  flex-wrap: wrap;
}
.portfolio-main {
  margin-top: 97px;
  margin-bottom: 91px;
}
/* --------------------------------------------------------------------FOOTER-------------------------------------------------------------------- */
.footer-wrapper {
  display: flex;
  align-items: flex-start;
  padding: 60px 0 60px 215px;
  background-color: var(--backgroundmain-color);
  min-width: 1600px;
}
/*============FOOTER-MAIN============*/
.footer-main {
  align-items: flex-start;
}
.footer-main .logo {
  margin-bottom: 20px;
}
/*============ADDRESS============*/
.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--light-color);
}
.address__item {
  margin: 4.5px 0;
}
.address__item--link {
  color: var(--lightalpha-color);
}
.address__list {
  flex-direction: column;
  gap: 0;
}
.address__list:last-child {
  margin-bottom: 0;
}

.address__item--text {
  margin-top: 0;
}
/* ---------------------------------------------------------------------------------------------------- */
.footer-subheader {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin: 12px 0 20px 0;
  color: var(--light-color);
}
/*============JOIN-US============*/

.join-us {
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 70px;
}
.join-us .social-media {
  margin: 0;
}

.social-media__icon--footer {
  background-color: var(--icon-on-dark-color);
  fill: var(--light-color);
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.social-media__icon--footer:hover,
.social-media__icon--footer:focus {
  background-color: Var(--highlight-color);
}
/*============NEWSLETTER============*/
.newsletter-form {
  display: flex;
  margin-left: 78px;
  position: relative;
}
.newsletter-form__item {
  display: flex;
  position: relative;
  top: 12px;
  margin: 28px 0 0;
  border: 1px solid #ffffff4d;
  border-radius: 4px;
  align-items: center;
  padding: 0;
  transition: border-color var(--transition-duration)
      var(--transition-timing-function),
    fill var(--transition-duration) var(--transition-timing-function);
}
.newsletter-form__item:has(input:focus) {
  border-color: var(--highlight-color);
}

.newsletter-form__label {
  position: absolute;
  top: -41px;
  color: var(--light-color);
  font-size: 14px;
  line-height: 1.17;
}

.newsletter-form__input {
  background: none;
  border: none;
  outline: none;
  height: 50px;
  width: 358px;
  padding: 15px 16px;
  color: #ffffff99;
}
.newsletter-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #ffffff99;
}
/*============SECONDARY-BUTTON============*/
.secondary-button {
  position: absolute;
  right: -212px;
  top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--highlight-color);
  color: var(--light-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  box-shadow: 0px 4px 4px 0px #00000026;
  border-style: hidden;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  padding: 0;
  fill: var(--light-color);
  transition: box-shadow var(--transition-duration)
      var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function),
    fill var(--transition-duration) var(--transition-timing-function);
}
.secondary-button:hover,
.secondary-button:focus {
  color: var(--dark-color);
  box-shadow: inset 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014,
    0px 3px 1px 0px #0000001a;
  fill: var(--dark-color);
  cursor: pointer;
}
.secondary-button__text {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
}
.secondary-button__icon {
  height: 24px;
  width: 24px;
}
