.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--light-color);
  display: flex;
  flex-direction: column;

  &__item {
    margin: 4.5px 0;
    &--link {
      color: var(--lightalpha-color);
    }
    &--text {
      margin-top: 0;
    }
  }
  &__list {
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 1200px) {
      align-items: flex-start;
      margin: 0;
    }
    gap: 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
