.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 1px solid #0000001a;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  margin: 0;
  transition: box-shadow var(--transition-duration)
      var(--transition-timing-function),
    fill var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function);

  &:hover,
  &:focus {
    box-shadow: inset 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014,
      0px 3px 1px 0px #0000001a;
    background-color: var(--highlight-color);
    fill: var(--light-color);
  }
  &__icon {
    height: 11px;
    width: 11px;
  }
}
