.primary-button {
  background-color: var(--highlight-color);
  color: var(--light-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  box-shadow: 0px 4px 4px 0px #00000026;
  border-style: hidden;
  border-radius: 4px;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  transition: box-shadow var(--transition-duration)
      var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function);
}

.primary-button:hover,
.primary-button:focus {
  color: var(--dark-color);
  box-shadow: inset 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014,
    0px 3px 1px 0px #0000001a;
}
