.checkmark {
  position: absolute;
  width: 16px;
  height: 15px;
  opacity: 0;
}
.checkmark__unchecked {
  cursor: pointer;
  position: absolute;
  left: -28px;
  top: 5px;
  height: 23px;
  width: 23px;
}
.contact-form__privacy-policy:has(input:checked) .checkmark__unchecked {
  display: none;
}
.checkmark__checked {
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: -26px;
  height: 17px;
  width: 16px;
  display: none;
}
.contact-form__privacy-policy:has(input:checked) .checkmark__checked {
  display: block;
}
