.contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  color: var(--alternative-color);

  &list {
    gap: 30px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
    fill: var(--alternative-color);
    transition: fill var(--transition-duration)
      var(--transition-timing-function);

    &:focus,
    &:hover {
      fill: var(--highlight-color);
    }
  }
}
.mail-icon {
  height: 12px;
  width: 16px;
}
.telephone-icon {
  height: 16px;
  width: 12px;
}
