.footer {
  background-color: var(--backgroundmain-color);
}
.footer-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: flex-start;
  }
  &__main {
    justify-content: center;
    @media screen and (min-width: 1200px) {
      align-items: flex-start;
      margin-left: 5px;
      width: 227px;
    }
    .logo {
      margin-bottom: 20px;
    }
  }
  &__tablet {
    @media screen and (min-width: 768px) {
      align-items: flex-start;
      max-width: 768px;
      margin: 0 auto;
      flex-flow: row;
      gap: 200px;
    }
    @media screen and (min-width: 1200px) {
      gap: 0;
      margin: 0;
    }
  }
  .social-media {
    margin: 20px 0 0;
  }
}
