.contact-form {
  position: relative;
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    position: relative;
    margin: 28px 0 0;
    border: 1px solid #21212133;
    border-radius: 4px;
    align-items: center;
    padding: 0;
    transition: border-color var(--transition-duration)
        var(--transition-timing-function),
      fill var(--transition-duration) var(--transition-timing-function);

    &:has(input:focus) {
      border-color: var(--highlight-color);
      fill: var(--highlight-color);
    }
    &:has(textarea:focus) {
      border-color: var(--highlight-color);
    }
  }
  &__icon {
    height: 20px;
    width: 20px;
    margin: 11px 12px;
  }
  &__label {
    position: absolute;
    top: -18px;
    left: 0;
    color: var(--alternative-color);
    font-size: 12px;
    line-height: 1.22;
  }
  &__input {
    border: 0px;
    border-radius: 10px;
    outline: 0;
    width: 90%;
  }
  &__comment {
    resize: none;
    height: 110px;
    width: 446px;
    padding: 12px 16px;

    &::placeholder {
      font-size: 12px;
      line-height: 1.22;
      color: #75757580;
    }
  }
  &__privacy-policy {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--alternative-color);
    margin: 18px 0 0 24px;
    font-size: 14px;
    line-height: 1.71;
  }
  &__terms {
    color: var(--highlight-color);
    text-decoration: underline;
  }
}
.contact-form .primary-button {
  margin-top: 20px;
  margin-left: 124px;
  padding: 0;
}

.checkmark {
  position: absolute;
  width: 16px;
  height: 15px;
  opacity: 0;

  &__unchecked {
    cursor: pointer;
    position: absolute;
    left: -28px;
    top: 5px;
    height: 23px;
    width: 23px;
  }

  &__checked {
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: -26px;
    height: 17px;
    width: 16px;
    display: none;
  }
}
.contact-form__privacy-policy:has(input:checked) .checkmark__checked {
  display: block;
}
.contact-form__privacy-policy:has(input:checked) .checkmark__unchecked {
  display: none;
}
