.card-set {
  flex-wrap: wrap;
  justify-content: center;
  max-width: 480px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 100%;
  }

  &__item {
    position: relative;
    border: 1px solid var(--borderline-color);
    width: 290px;
    transition: box-shadow var(--transition-duration)
      var(--transition-timing-function);
    overflow: hidden;
    background-color: var(--light-color);
    @media screen and (min-width: 480px) {
      width: 450px;
    }
    @media screen and (min-width: 768px) {
      width: 354px;
    }
    @media screen and (min-width: 1200px) {
      width: 370px;
    }

    &:hover,
    &:focus {
      cursor: pointer;
      box-shadow: 1px 4px 6px 0px #00000029, 4px 4px 0px #0000000f,
        0px 1px 1px 0px #0000001f;
    }
  }
  %photo-card-set {
    width: 290px;
    height: 190px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    @media screen and (min-width: 480px) {
      width: 450px;
      height: 294px;
    }
    @media screen and (min-width: 768px) {
      width: 354px;
    }
    @media screen and (min-width: 1200px) {
      width: 370px;
    }
  }
  &__photo--1 {
    @extend %photo-card-set;
    background-image: url(../images/portfolio1.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/portfolio1@2x.jpg);
    }
    @media screen and (min-width: 768px) {
      background-image: url(../images/portfoliomid1.jpg);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/portfoliomid1@2x.jpg);
      }
    }
    @media screen and (min-width: 1200px) {
      background-image: url(../images/portfoliomax1.jpg);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/portfoliomax1@2x.jpg);
      }
    }
  }
  &__photo--2 {
    @extend %photo-card-set;
    background-image: url(../images/portfolio2.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/portfolio2@2x.jpg);
    }
    @media screen and (min-width: 768px) {
      background-image: url(../images/portfoliomid2.jpg);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/portfoliomid2@2x.jpg);
      }
    }
    @media screen and (min-width: 1200px) {
      background-image: url(../images/portfoliomax2.jpg);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/portfoliomax2@2x.jpg);
      }
    }
  }
  &__photo--3 {
    @extend %photo-card-set;
    background-image: url(../images/portfolio3.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/portfolio3@2x.jpg);
    }
    @media screen and (min-width: 768px) {
      background-image: url(../images/portfoliomid3.jpg);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/portfoliomid3@2x.jpg);
      }
    }
    @media screen and (min-width: 1200px) {
      background-image: url(../images/portfoliomax3.jpg);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/portfoliomax3@2x.jpg);
      }
    }
  }
  &__photo--4 {
    @extend %photo-card-set;
    background-image: url(../images/portfolio4.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/portfolio4@2x.jpg);
    }
    @media screen and (min-width: 768px) {
      background-image: url(../images/portfoliomid4.jpg);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/portfoliomid4@2x.jpg);
      }
    }
    @media screen and (min-width: 1200px) {
      background-image: url(../images/portfoliomax4.jpg);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/portfoliomax4@2x.jpg);
      }
    }
  }
  &__photo--5 {
    @extend %photo-card-set;
    background-image: url(../images/portfolio5.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/portfolio5@2x.jpg);
    }
    @media screen and (min-width: 768px) {
      background-image: url(../images/portfoliomid5.jpg);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/portfoliomid5@2x.jpg);
      }
    }
    @media screen and (min-width: 1200px) {
      background-image: url(../images/portfoliomax5.jpg);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/portfoliomax5@2x.jpg);
      }
    }
  }
  &__photo--6 {
    @extend %photo-card-set;
    background-image: url(../images/portfolio6.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/portfolio6@2x.jpg);
    }
    @media screen and (min-width: 768px) {
      background-image: url(../images/portfoliomid6.jpg);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/portfoliomid6@2x.jpg);
      }
    }
    @media screen and (min-width: 1200px) {
      background-image: url(../images/portfoliomax6.jpg);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/portfoliomax6@2x.jpg);
      }
    }
  }
  &__photo--7 {
    @extend %photo-card-set;
    background-image: url(../images/portfolio7.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/portfolio7@2x.jpg);
    }
    @media screen and (min-width: 768px) {
      background-image: url(../images/portfoliomid7.jpg);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/portfoliomid7@2x.jpg);
      }
    }
    @media screen and (min-width: 1200px) {
      background-image: url(../images/portfoliomax7.jpg);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/portfoliomax7@2x.jpg);
      }
    }
  }
  &__photo--8 {
    @extend %photo-card-set;
    background-image: url(../images/portfolio8.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/portfolio8@2x.jpg);
    }
    @media screen and (min-width: 768px) {
      background-image: url(../images/portfoliomid8.jpg);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/portfoliomid8@2x.jpg);
      }
    }
    @media screen and (min-width: 1200px) {
      background-image: url(../images/portfoliomax8.jpg);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/portfoliomax8@2x.jpg);
      }
    }
  }
  &__photo--9 {
    @extend %photo-card-set;
    background-image: url(../images/portfolio9.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/portfolio9@2x.jpg);
    }
    @media screen and (min-width: 768px) {
      background-image: url(../images/portfoliomid9.jpg);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/portfoliomid9@2x.jpg);
      }
    }
    @media screen and (min-width: 1200px) {
      background-image: url(../images/portfoliomax9.jpg);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/portfoliomax9@2x.jpg);
      }
    }
  }
  &__description {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 115px;
    background-color: var(--light-color);
    z-index: 1;
  }

  &__title {
    position: relative;
    font-size: 18px;
    line-height: 2;
    margin-inline: 24px;
    margin-top: 20px;
    margin-bottom: 4px;
    z-index: 2;
  }
  &__category {
    position: relative;
    color: var(--alternative-color);
    font-size: 16px;
    line-height: 1.875;
    margin-inline: 24px;
    margin-bottom: 20px;
    z-index: 2;
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 295px;
    background-color: var(--overlay-highlight);
    padding: 49px 45px 49px 24px;
    transform: translatey(100%);
    transition: transform var(--transition-duration)
      var(--transition-timing-function);
  }
  &__overlay-text {
    color: var(--light-color);
    font-size: 14px;
    line-height: 1.17;
    @media screen and (min-width: 480px) {
      font-size: 18px;
      line-height: 1.55;
    }
  }
}
.card-set__item:focus .card-set__overlay,
.card-set__item:hover .card-set__overlay {
  transform: translatey(0);
}
