.join-us {
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 70px;

  & .social-media {
    margin: 0;
  }
}
.social-media {
  display: flex;
  margin: 16px 32px 18px;

  &__list {
    gap: 10px;
    justify-content: space-around;
  }

  &__icon {
    height: 44px;
    width: 44px;
    fill: var(--alternative-borderline-color);
    padding: 12px;
    border-radius: 50%;
    overflow: visible;
    transition: fill var(--transition-duration)
        var(--transition-timing-function),
      background-color var(--transition-duration)
        var(--transition-timing-function);

    &:hover,
    &:focus {
      fill: var(--light-color);
      background-color: Var(--highlight-color);
      cursor: pointer;
    }
    &--footer {
      background-color: var(--icon-on-dark-color);
      fill: var(--light-color);
      transition: background-color var(--transition-duration)
        var(--transition-timing-function);
    }
    &--footer:hover,
    &--footer:focus {
      background-color: Var(--highlight-color);
    }
  }
}
