.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;

  &__primary-color {
    color: var(--highlight-color);
  }
  &__secondary-color {
    &--original {
      color: var(--dark-color);
    }
    &--alternative {
      color: var(--light-color);
    }
  }
}
