.mobile-menu {
  @media screen and (min-width: 768px) {
    display: none;
  }
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  padding-block: 48px;
  padding-left: 40px;
  @media screen and (max-width: 320px) {
    padding: 20px 15px;
  }
  z-index: 10;
  transition: opacity var(--transition-duration)
      var(--transition-timing-function),
    visibility var(--transition-duration) var(--transition-timing-function),
    pointer-events var(--transition-duration) var(--transition-timing-function);
  & .close-button {
    border: none;
    background-color: #fff;
    &__icon {
      height: 19px;
      width: 19px;
    }
    &:hover,
    &:focus {
      fill: var(--highlight-color);
      background-color: #fff;
      box-shadow: none;
    }
  }
  &__elements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    @media screen and (max-width: 320px) {
      padding-top: 28px;
    }
  }
  &__nav {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.175;
    letter-spacing: 0.02em;
    gap: 32px;
    margin-bottom: 40px;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 32px;
    margin-bottom: 40px;
  }
  &__contacts-mail {
    @media screen and (max-width: 360px) {
      font-size: 24px;
    }
    font-size: 34px;
    font-weight: 500;
    line-height: 1.176;
    letter-spacing: 0.02em;
    color: var(--highlight-color);
  }
  &__contacts-tel {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.166;
    letter-spacing: 0.02em;
    color: var(--alternative-color);
  }
  &__social {
    @media screen and (max-width: 360px) {
      font-size: 15px;
      gap: 20px;
    }
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--highlight-color);
    gap: 10px;
  }

  &__social-item {
    padding-right: 10px;
    border-right: 1px solid #21212133;
    &:last-of-type {
      border-right: none;
    }
  }
}
