.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00000033;
  transition: opacity var(--transition-duration)
      var(--transition-timing-function),
    visibility var(--transition-duration) var(--transition-timing-function),
    pointer-events var(--transition-duration) var(--transition-timing-function);
}

.modal {
  width: 528px;
  height: 581px;
  background-color: var(--light-color);
  margin: auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;
}
.modal__title {
  font-size: 20px;
  line-height: 1.17;
}
