.newsletter-form {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-inline: auto;
  align-items: center;
  margin-top: 80px;
  @media screen and (min-width: 768px) {
    margin-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-inline: 0;
    margin-top: 45px;
    flex-direction: row;
  }

  &__item {
    display: flex;
    width: 450px;
    @media screen and (min-width: 1200px) {
      width: 358px;
      margin: 0 12px 0 0;
    }
    margin: 28px 0 20px;
    border: 1px solid #ffffff4d;
    border-radius: 4px;
    align-items: center;
    padding: 0;
    transition: border-color var(--transition-duration)
        var(--transition-timing-function),
      fill var(--transition-duration) var(--transition-timing-function);

    &:has(input:focus) {
      border-color: var(--highlight-color);
    }
  }
  &__label {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 210px;
    font-weight: 700;
    color: var(--light-color);
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--light-color);
    @media screen and (min-width: 1200px) {
      top: -32px;
      left: 78px;
      transform: translateX(0);
    }
  }

  &__input {
    background: none;
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    padding: 15px 16px;
    color: #ffffff99;

    &::placeholder {
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0.03em;
      color: #ffffff99;
    }
  }
}
