body {
  cursor: default;
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
p {
  margin: 0 auto;
  padding: 0;
}
ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0 auto;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
  fill: var(--alternative-color);
  transition: color var(--transition-duration) var(--transition-timing-function),
    fill var(--transition-duration) var(--transition-timing-function);
}
a:hover,
a:focus {
  color: var(--highlight-color);
  fill: var(--highlight-color);
}
.container {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section {
  padding: 94px 0;
}
.hidden {
  display: none;
}
.header-2 {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
