:root {
  --main-text-color: #212121;
  --alternative-color: #757575;
  --highlight-color: #2196f3;
  --backgroundmain-color: #2f303a;
  --backgroundalt-color: #f5f4fa;
  --dark-color: #000000;
  --light-color: #ffffff;
  --lightalpha-color: #ffffff60;
  --borderline-color: #eeeeee;
  --background-light-color: #f5f4fa;
  --alternative-borderline-color: #afb1b8;
  --icon-on-dark-color: #ffffff1a;
  --overlay-color: #2f303acc;
  --overlay-highlight: #2196f3e5;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
